.dialog_items {
}

.dialog_item {
    display: grid;
    grid-template-colums: 20px 1fr;
    grid-template-areas: "i n";
    /*background-color: white;*/
    /*border-radius: 20px;*/
    width: 300px;
    height: 40px;
    margin-bottom: 40px;
    border-bottom: solid 1px black;
}

.dialog_items .active {
    color: coral;
}

.dialog_items a {
    color: black;
    text-decoration: none;
}

.itemImage {
    grid-area: i;
}
.itemImage img{
    border-radius: 20px;
}

.itemName {
    grid-area: n;
    margin: auto 0px;
}
